 @import "tailwindcss";


@keyframes elementFloat {
  0%, 100% {
    transform: translateY(0) rotate(-53deg);
    opacity: 0.5;
  }
  50% {
    transform: translateY(-30px) rotate(-48deg);
    opacity: 100%;
  }
}

.liquid-element-float {
  animation: elementFloat 6s ease-in-out infinite;
  will-change: transform, opacity;
}


@keyframes float-down {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(20px);
  }
}

@keyframes float-up {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
}

.chat-down {
  animation: float-down 3s ease-in-out infinite;
  will-change: transform;
}

.chat-up {
  animation: float-up 3s ease-in-out infinite;
  will-change: transform;
}



@keyframes waveHi {
  0%, 100% {
    transform: rotate(0deg) translateY(0px);
  }
  25% {
    transform: rotate(5deg) translateY(-4px);
  }
  50% {
    transform: rotate(-5deg) translateY(4px);
  }
  75% {
    transform: rotate(5deg) translateY(-4px);
  }
}

.waving-animation {
  animation: waveHi 3s ease-in-out infinite;
  transform-origin: bottom center;
  will-change: transform;
} 


/* star animation  */
@keyframes floatStarOne {
  0%, 100% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-10px);
  }
}

@keyframes floatStarTwo {
  0%, 100% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-14px);
  }
}

.animate-star-one {
  animation: floatStarOne 4s ease-in-out infinite;
}

.animate-star-two {
  animation: floatStarTwo 6s ease-in-out infinite;
}

@keyframes HeroelementFloat {
  0%, 100% {
    transform: translateY(0) rotate(0deg);
    opacity: 0.8;
  }
  50% {
    transform: translateY(-20px) rotate(-10deg);
    opacity: 1;
  }
}

.liquid-element-Hero {
  animation: HeroelementFloat 6s ease-in-out infinite;
  will-change: transform, opacity;
}


/* hero top element  */
@keyframes gentleFloat {
  0%, 100% {
    transform: translate(0, 0) rotate(0deg);
  }
  50% {
    transform: translate(10px, -20px) rotate(-5deg);
  }
}

.gentle-float {
  animation: gentleFloat 8s ease-in-out infinite;
  will-change: transform;
}
